<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="stylesheets/stylesheet.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="stylesheets/default.css" type="text/css" charset="utf-8" />
</head>

<body>
<!--    <img src='assets/qucumbar_logo.png' alt="LOGO!">-->
    <div class="body-container centred">
        <div class="landing-intro">
            <h1 class="title">Qucumbar</h1>
            <p>"Queuing" in the 21st century</p>
            <p>(...in 1987 style!)</p>
        </div>
        <hr>
        <a href='/login'>Log-in</a>
    </div>
</body>

</html>
