<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="stylesheets/stylesheet.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="stylesheets/default.css" type="text/css" charset="utf-8" />
</head>

<body>
<!--    <img src='assets/qucumbar_logo.png' alt="LOGO!">-->
    <div class="body-container centred">
        <div class="landing-intro">
            <h1 class="title">Qucumbar</h1>
            <p>"Queuing" in the 21st century</p>
            <p>(...in 1987 style!)</p>
        </div>
        <hr>
        <a href='/login'>Log-in</a>
    </div>
    
    <hr>
    
    <div class="body-container centred" style="display:inline">
    <p style="font-size:50%">
    <a href="">About</a>
    <a href="">Team</a>
    <a href="">API Doc</a>
    </p>
    <br>
    <p style="font-size:50%">
    (2014) Copyright Qubicles - All rights reserved
    </p>
    </div>   
</body>

</html>
