<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="stylesheets/stylesheet.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="stylesheets/default.css" type="text/css" charset="utf-8" />
</head>


<body>
    <div class="body-container centred">
        <p>Please log-in with your name:</p>
        <br>
        <form action="/login" method="post">
            <div>
                <p><input type="text" name="username" value="hendrik"></p>
                <p></p><input type="submit" value="Log In"></p>
            </div>
        </form>
    </div>
</body>

</html>
