<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="stylesheets/stylesheet.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="stylesheets/default.css" type="text/css" charset="utf-8" />
</head>
<body>
    <div class="body-container">
        <div class="js-practice-list-container">
        </div>
    </div>
    <script id="hb-practice-list" type="text/x-handlebars-template">
        <ul class="practice-list">
            {{ "{{#each practices}}" }}
            <li class="practice">
                <span class="name">{{ " {{ name  }}" }}</span>
                <a href="#" class="js-queue join">Join Q</a>
            </li>
            {{ "{{/each}}" }}
        </ul>
    </script>

    <script>
        window.qcumber = {};
        window.qcumber.username = "{{  name  }}";
        window.qcumber.apiBaseUrl = "http://192.168.3.64:8080/agilehackathon/rest";
        window.qcumber.apiUrls = {
            getPractices: "/practices/{{ name }}",
            joinPractice: "/practices/{practiceId}/joinQueue/{{ name }}"
        };
    </script>
    <script src="/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="/js/vendor/handlebars.runtime-v1.3.0.js"></script>
    <script src="/js/vendor/handlebars-v1.3.0.js"></script>
    <script src="/js/practices.js"></script>
</body>
</html>
