<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="stylesheets/stylesheet.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="stylesheets/default.css" type="text/css" charset="utf-8" />
</head>
<body>

    <div class='practices'>

    {% for p in practices %}
      <div class='indiv_practice'>
      {{ p['name'] }}
      <br>
      <a href="http://192.168.3.64:8080/agilehackathon/rest/practices/{{ p['id'] }}/joinQueue/{{ name }}">Join Q</a>
      <br>
      <form action=>
      <input type="hidden" name="Id#" value="{{ p['id'] }}">
      <input type="submit" value="Join Q"></form>
      </div>
    {% endfor %}

    </div>
    <script id="hb-practice" type="text/x-handlebars-template">
        <div class="">
            
        </div>
    </script>

    <script>
        window.qcumber = {};
        window.qcumber.username = "{{  name  }}";
        window.qcumber.apiBaseUrl = "http://192.168.3.64:8080/agilehackathon/rest";
        window.qcumber.apiUrls = {
            getPractices: "/practices/{loginName}",
            joinPractice: "/practices/{practiceId}/joinQueue/{loginName}"
        };
    </script>
    <script src="/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="/js/vendor/handlebars.runtime-v1.3.0.js"></script>
    <script src="/js/vendor/handlebars-v1.3.0.js"></script>
    <script src="main.js"></script>
</body>
</html>
